@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.backdrop-blur-saturate {
  @apply backdrop-blur-lg; /* Tailwind’s blur utility (approximate to 19px) */
  backdrop-filter: blur(19px) saturate(120%);
}
